.table-list-counter {display:inline-block;}
.table-list-counter i{padding-left:10px;}
.table-list-counter span{padding-left:7px;}
.table-list-filters{display:inline-block; padding-left:250px;}
span.filters{padding-right:55px;}
.metadata{margin:0 auto;}
.metadata div{display:inline-block;}
#js-issues-toolbar{height:55px;padding-top:18px;}
#logOut{cursor:pointer;}
#newTask a {color:white;}



