body {height:100%;}
.tfeed div.ui.large.header{;}
div.small.header.meta {color: #a3aab1;display:inline-block !important;overflow:hidden;}

.extra .ui.label {
  margin: 0 auto;
}

.extra .creator {
  display: inline-block;
  font-size: 14px
}

.extra .creator .create_info {
  display: inline-block;
  font-weight: lighter;
}

.textarea_body {
  height: 150px;
  border-top: 0px;
  box-shadow: 0em 0em 0em 1px #10A3A3 inset !important;
}
.ui.dimmer.active{position:fixed;height:100%;}