body {height:100%;}
.tfeed div.ui.large.header{;}
div.small.header.meta {color: #a3aab1;display:inline-block !important;overflow:hidden;}

.extra .ui.label {
  margin: 0 auto;
}

.extra .creator {
  display: inline-block;
  font-size: 14px
}

.extra .creator .create_info {
  display: inline-block;
  font-weight: lighter;
}

.textarea_body {
  height: 150px;
  border-top: 0px;
  box-shadow: 0em 0em 0em 1px #10A3A3 inset !important;
}
.ui.dimmer.active{position:fixed;height:100%;}
.comments_cont .textarea_body{;}
.textarea_body .actionBtns{position:relative;top:30px;}
.textarea_body .actionBtns .assigneeBtn {position:relative;top:38px;right:18px;}
.textarea_body .actionBtns .creatorBtn {position:relative;top:38px;right:18px;}
.btncontainer .newt .creator{display:none;}
.btncontainer .newt .assignee{display:none;}
.btncontainer .newt .creator.active{display:block;}
.btncontainer .newt .assignee.active{display:block;}

.btncontainer .startedt .creator{display:none;}
.btncontainer .startedt .assignee{display:none;}
.btncontainer .startedt .creator.active{display:block;}
.btncontainer .startedt .assignee.active{display:block;}

.btncontainer .finishedt .creator{display:none;}
.btncontainer .finishedt .assignee{display:none;}
.btncontainer .finishedt .creator.active{display:block;}
.btncontainer .finishedt .assignee.active{display:block;}

.btncontainer .acceptedt div.label{display:none;}
.btncontainer .acceptedt div.label.active{display:block;}

.btncontainer .rejectedt .creator{display:none;}
.btncontainer .rejectedt .assignee{display:none;}
.btncontainer .rejectedt .creator.active{display:block;}
.btncontainer .rejectedt .assignee.active{display:block;}
.assignees_btn_container .creator_btn{display:none;}
.assignees_btn_container .creator_btn.active{display:block;}
.assignees_btn_container .assignee_btn{display:none;}
.assignees_btn_container .assignee_btn.active{display:block;}