<html>
	<head>
    	<meta charset="utf-8">
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
    	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.js"></script>
	</head>
	<body>
		<div class="ui inverted segment">
			<div class="ui inverted centered large header">Bullet</div>
			<div class="ui inverted centered medium header">Email Notification</div>
		</div>
		<div class="ui container">
				{{{body}}}
		</div>
	</body>
</html>